/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background: url('back5.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 182, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
}
/* formato de imagen diseño */
.image-container {
    text-align: center; /* Centra la imagen en su contenedor */
    margin: 20px 0; /* Margen superior e inferior para separar las imágenes */
}

.rounded-image {
    width: 100%; /* Ajusta el tamaño de la imagen al 100% del contenedor */
    max-width: 700px; /* Tamaño máximo de la imagen aumentado */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 15px; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor de la imagen */
}
/* tres imagenes */
.fila-imagenes {
    display: flex;
    justify-content: center; /* Centra las imágenes en el contenedor principal */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en pantallas pequeñas */
    margin: 20px 0; /* Margen superior e inferior para separar las filas de imágenes */
}

.contenedor-imagen {
    flex: 1;
    text-align: center; /* Centra la imagen en su contenedor */
    margin: 10px; /* Margen alrededor de cada contenedor de imagen */
    max-width: 30%; /* Ajusta el tamaño del contenedor para que se ajusten tres imágenes en un renglón */
}

.imagen-redondeada {
    width: 100%; /* Ajusta el tamaño de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 15px; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor de la imagen */
}
hr {
    border: 0;
    height: 1px;
    background: #00aeff; /* Verde claro */
    margin-bottom: 40px;
}
/* Encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #1a1a1a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo img {
    max-height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, border-bottom 0.3s;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover,
nav ul li a.active {
    color: #0040ff;
    border-bottom: 2px solid #0040ff;
}

/* Contenido principal */
main {
    padding: 60px 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    height: auto;
    max-height: 300px; /* Ajusta la altura según tus preferencias */
    border-radius: 15px; /* Bordes redondeados */
    display: block;
    margin-bottom: 40px;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.gradient-title {
    font-size: 48px;
    background: linear-gradient(45deg, #008cff, #4bb7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 4px 8px rgba(6, 113, 175, 0.5);
    margin-bottom: 40px;
    text-align: center;
}

.subtitle {
    font-size: 24px;
    color: #00aeff;
    margin-top: 20px;
}
hr {
    color: #00aeff;
}

.content p,
.content ul,
.content ol {
    margin-bottom: 20px;
}

.content ul,
.content ol {
    margin-left: 20px;
}

.content li {
    margin-bottom: 10px;
}

/* Navegación entre páginas */
.page-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: #e0e0e0;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    border: 1px solid #e0e0e0;
}

.page-navigation a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

.page-navigation a:hover,
.page-navigation a.active {
    color: #4081ff;
    border-bottom: 2px solid #4081ff;
}

/* Pie de página */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    color: #fff;
}
